<app-nav></app-nav>

      <!-- Breadcrumb -->
      <nav class="bg-secondary mb-3" aria-label="breadcrumb">
        <div class="container">
          <ol class="breadcrumb breadcrumb-alt mb-0">
            <li class="breadcrumb-item">
              <a href="index.html"><i class="ci-home"></i></a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Checkout</li>
          </ol>
        </div>
      </nav>


<!-- Page content -->
 <section class="container pt-3 pt-md-4 pb-3 pb-sm-4 pb-lg-5 mb-4">
    <div class="row">

      <!-- Checkout content -->
      <div class="col-lg-8 pe-lg-6">
        <div class="d-flex align-items-center justify-content-between pb-2 mb-4">
          <h1 class="mb-0">Checkout</h1>
          <a [routerLink]="['/productos']"><strong>Regresar a la tienda</strong></a>
        </div>

        <!-- Alert -->
        <div class="alert alert-info mb-4" role="alert">
          <div class="d-flex align-items-center">
            <i class="ci-profile lead me-3"></i>
            <div>
              ¿Ya tienes una Cuenta?&nbsp;&nbsp;<a href="#modal-signin" class="alert-link" data-bs-toggle="modal" data-view="#modal-signin-view">Inicia</a>&nbsp;&nbsp; Para una experiencia mas rapida.
            </div>
          </div>
        </div>

        <hr class="border-top-0 border-bottom mb-4">

        <!-- Order review -->
        <h2 class="h4 mb-4">1. Detalle de orden</h2>
        <div class="bg-secondary rounded mb-5">
          <!-- Item -->
          <div class="d-flex align-items-start px-2 px-sm-4 py-4 border-bottom" *ngFor="let item of carrito_arr">
            <a [routerLink]="['/productos/',item.producto.slug]" style="min-width: 80px;">
              <img [src]="item.producto.portada" width="80" alt="Product thumb">
            </a>
            <div class="w-100 ps-3">
              <div class="d-sm-flex">
                <div class="pe-sm-3 w-100" style="max-width: 16rem;">
                  <h3 class="fs-sm mb-3">
                    <a [routerLink]="['/productos/',item.producto.slug]" class="nav-link fw-bold">{{item.producto.titulo}}</a>
                  </h3>
                  <ul class="list-unstyled fs-xs mt-n2 mb-2">
                   <li class="mb-0"><span class="text-muted">Variedad:</span> {{item.nombre_variedad}}</li>
                    <li class="mb-0"><span class="text-muted"></span> {{item.nombre_subvariedad}}</li>
                  </ul>
                </div>
                <div class="d-flex align-items-start pe-sm-3">
                  <input type="number" class="form-control form-control-sm bg-light me-3" min="1" style="width: 4.5rem;" value="{{item.cantidad}}">
                  <div class="text-nowrap pt-2">
                    <!-- <strong class="text-danger">$15.00</strong> -->
                    <span class="fs-xs text-muted" style="font-size: 1.1rem !important;">{{item.precio |currency:'COP':'$':'3.0'}}</span>
                    </div>
                </div>
                <div class="d-flex align-items-center flex-sm-column text-sm-center ms-sm-auto pt-3 pt-sm-0">
                  <button class="btn btn-outline-primary btn-sm me-2 me-sm-0" (click)="eliminar_item(item._id)">Eliminar</button>
                  <button class="btn btn-link btn-sm text-decoration-none pt-0 pt-sm-2 px-0 pb-0 mt-0 mt-sm-1">
                    A lista de deseos
                    <i class="ci-heart ms-1"></i>
                  </button>
                </div>
              </div>
            </div>
          </div>
        
          <div class="px-3 px-sm-4 py-4 text-end">
            <span class="text-muted">Subtotal:<strong class="text-dark fs-lg ms-2">{{subtotal |currency:'COP':'$':'3.0'}}</strong></span>
          </div>
        </div>

        <!-- Adresses -->
        <h2 class="h4 mb-4">2. Shipping &amp; Billing Address</h2>
        <div class="row pb-3">
          <div class="col-sm-6 mb-4">
            <label for="ch-fn" class="form-label-lg">First Name</label>
            <input type="text" class="form-control form-control-lg" id="ch-fn" placeholder="Your first name">
          </div>
          <div class="col-sm-6 mb-4">
            <label for="ch-ln" class="form-label-lg">Last Name</label>
            <input type="text" class="form-control form-control-lg" id="ch-ln" placeholder="Your last name">
          </div>
          <div class="col-sm-6 mb-4">
            <label for="ch-email" class="form-label-lg">Email</label>
            <input type="email" class="form-control form-control-lg" id="ch-email" placeholder="Your email address">
          </div>
          <div class="col-sm-6 mb-4">
            <label for="ch-phone" class="form-label-lg">Phone</label>
            <input type="text" class="form-control form-control-lg" id="ch-phone" placeholder="Your phone number">
          </div>
          <div class="col-sm-6 mb-4">
            <label for="ch-country" class="form-label-lg">Country</label>
            <select id="ch-country" class="form-select form-select-lg">
              <option value="" disabled selected>Choose country</option>
              <option value="argentina">Australia</option>
              <option value="brazil">Brazil</option>
              <option value="belgium">Belgium</option>
              <option value="france">France</option>
              <option value="germany">Germany</option>
              <option value="uk">United Kingdom</option>
              <option value="usa">USA</option>
            </select>
          </div>
          <div class="col-sm-6 mb-4">
            <label for="ch-city" class="form-label-lg">City</label>
            <select id="ch-city" class="form-select form-select-lg">
              <option value="" disabled selected>Choose city</option>
              <option value="belgium">Brussels</option>
              <option value="germany">Berlin</option>
              <option value="uk">London</option>
              <option value="argentina">Melbourne</option>
              <option value="usa">New York</option>
              <option value="france">Paris</option>
              <option value="brazil">Rio de Janeiro</option>
            </select>
          </div>
          <div class="col-sm-6 mb-4">
            <label for="ch-address" class="form-label-lg">Address</label>
            <input type="text" class="form-control form-control-lg" id="ch-address" placeholder="Street, appartment...">
          </div>
          <div class="col-sm-6 mb-4">
            <label for="ch-zip" class="form-label-lg">ZIP Code</label>
            <input type="text" class="form-control form-control-lg" id="ch-zip" placeholder="ZIP code">
          </div>
          <div class="col-12 mb-4">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="same-details" checked>
              <label for="same-details" class="form-check-label fs-base">Billing and Shipping details are the same</label>
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <!-- Shipping -->
        <h2 class="h4 mb-4">3. Metodo de Envio</h2>
        <div class="form-check mb-3">
          <input type="radio" class="form-check-input" id="courier" name="shipping" checked>
          <label for="courier" class="form-check-label d-flex align-items-center">
            <span>
              <strong class="d-block fs-base">Courier to your address</strong>
              <span class="text-muted fs-sm">Estimated date: November 9</span>
            </span>
            <span class="ms-auto fs-base">$25.00</span>
          </label>
        </div>
        <div class="form-check mb-3">
          <input type="radio" class="form-check-input" id="store-pickup" name="shipping">
          <label for="store-pickup" class="form-check-label d-flex align-items-center">
            <span>
              <strong class="d-block fs-base">Pick up from store</strong>
              <span class="text-muted fs-sm">Pick up on November 8 from 12:00pm</span>
            </span>
            <span class="ms-auto fs-base">Free</span>
          </label>
        </div>
        <div class="form-check mb-3">
          <input type="radio" class="form-check-input" id="ups" name="shipping">
          <label for="ups" class="form-check-label d-flex align-items-center">
            <span>
              <strong class="d-block fs-base">UPS Ground Shipping</strong>
              <span class="text-muted fs-sm">Up to one week</span>
            </span>
            <span class="ms-auto fs-base">$10.00</span>
          </label>
        </div>
        <div class="form-check mb-3">
          <input type="radio" class="form-check-input" id="locker-pickup" name="shipping">
          <label for="locker-pickup" class="form-check-label d-flex align-items-center">
            <span>
              <strong class="d-block fs-base">Pick up at Createx Locker</strong>
              <span class="text-muted fs-sm">Pick up on November 8 from 12:00pm</span>
            </span>
            <span class="ms-auto fs-base">$8.50</span>
          </label>
        </div>
        <div class="form-check mb-3">
          <input type="radio" class="form-check-input" id="global-export" name="shipping">
          <label for="global-export" class="form-check-label d-flex align-items-center">
            <span>
              <strong class="d-block fs-base">Createx Global Export</strong>
              <span class="text-muted fs-sm">3-4 days</span>
            </span>
            <span class="ms-auto fs-base">$15.00</span>
          </label>
        </div>

        <hr class="border-top-0 border-bottom my-4">

        <!-- Payment -->
        <h2 class="h4 pt-2 mb-4">4. Payment Method</h2>
        <div class="row pb-4">
          <div class="col-lg-7">

            <!-- Payment accordion -->
            <div class="accordion accordion-alt" id="payment-methods">

              <!-- Item -->
              <div class="accordion-item mb-3 bg-white border rounded shadow-sm">
                <h6 class="accordion-header" id="paymentHeading-1">
                  <button class="accordion-button accordion-button-indicator-0 py-0 px-4 rounded" type="button" data-bs-toggle="collapse" data-bs-target="#payment-collapse-1" aria-expanded="true" aria-controls="payment-collapse-1">
                    <div class="form-check w-100 py-4">
                      <input type="radio" class="form-check-input" id="cc" name="payment" checked>
                      <label for="cc" class="form-check-label d-flex align-items-center">
                        <strong class="d-block me-3 fs-base">Credit card</strong>
                        <img src="../assets/img/ecommerce/checkout/cards.png" width="108" alt="Credit cards">
                      </label>
                    </div>
                  </button>
                </h6>
                <div class="accordion-collapse px-4 collapse show" id="payment-collapse-1" aria-labelledby="paymentHeading-1" data-bs-parent="#payment-methods">
                  <div class="accordion-body pt-0 pb-3">
                    <div class="mb-3">
                      <label for="cc-number" class="form-label-lg">Card number</label>
                      <input type="text" id="cc-number" class="form-control form-control-lg" data-format="card" placeholder="0000 0000 0000 0000">
                    </div>
                    <div class="d-flex">
                      <div class="mb-3 me-3">
                        <label for="cc-exp-date" class="form-label-lg">Expiry date</label>
                        <input type="text" id="cc-exp-date" class="form-control form-control-lg" data-format="date" placeholder="mm/yy">
                      </div>
                      <div class="mb-3">
                        <label for="cc-cvc" class="form-label-lg">CVC</label>
                        <input type="text" id="cc-cvc" class="form-control form-control-lg" data-format="cvc" placeholder="000">
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item mb-3 bg-white border rounded shadow-sm">
                <h6 class="accordion-header" id="paymentHeading-2">
                  <button class="accordion-button accordion-button-indicator-0 py-0 px-4 rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-collapse-2" aria-expanded="false" aria-controls="payment-collapse-2">
                    <div class="form-check w-100 py-4">
                      <input type="radio" class="form-check-input" id="paypal" name="payment">
                      <label for="paypal" class="form-check-label d-flex align-items-center">
                        <strong class="d-block me-3 fs-base">PayPal</strong>
                        <img src="../assets/img/ecommerce/checkout/paypal-badge.png" width="48" alt="PayPal">
                      </label>
                    </div>
                  </button>
                </h6>
                <div class="accordion-collapse px-4 collapse" id="payment-collapse-2" aria-labelledby="paymentHeading-2" data-bs-parent="#payment-methods">
                  <div class="accordion-body pt-0 pb-3">
                    <a href="#" class="d-inline-block mb-2" style="max-width: 300px;">
                      <img src="../assets/img/ecommerce/checkout/paypal.png" alt="PayPal">
                    </a>
                    <a href="#" class="d-inline-block mb-2" style="max-width: 300px;">
                      <img src="../assets/img/ecommerce/checkout/paypal-credit.png" alt="PayPal Credit">
                    </a>
                  </div>
                </div>
              </div>

              <!-- Item -->
              <div class="accordion-item bg-white border rounded shadow-sm">
                <h6 class="accordion-header" id="paymentHeading-3">
                  <button class="accordion-button accordion-button-indicator-0 py-0 px-4 rounded collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#payment-collapse-3" aria-expanded="false" aria-controls="payment-collapse-3">
                    <div class="form-check w-100 py-4">
                      <input type="radio" class="form-check-input" id="cash" name="payment">
                      <label for="cash" class="form-check-label d-block">
                        <strong class="d-block me-3 fs-base">Cash on delivery</strong>
                      </label>
                    </div>
                  </button>
                </h6>
                <div class="accordion-collapse px-4 collapse" id="payment-collapse-3" aria-labelledby="paymentHeading-3" data-bs-parent="#payment-methods">
                  <div class="accordion-body pt-0 pb-3">
                    <p class="mb-2 text-muted">You have selected to pay with cash upon delivery.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <hr class="mb-4">

        <!-- Additional info -->
        <h2 class="h4 mb-4">5. Additional Information (optional)</h2>
        <div class="mb-4">
          <label for="ch-notes" class="form-label-lg">Order notes</label>
          <textarea id="ch-notes" class="form-control form-control-lg" rows="5" placeholder="Notes about your order, e.g. special noted for delivery."></textarea>
        </div>
      </div>


      <!-- Order totals (sticky sidebar) -->
      <aside class="col-lg-4" style="margin-top: -120px;">
        <div class="position-sticky top-0">
          <div class="mb-4" style="padding-top: 120px;">
            <label for="promo-code" class="form-label-lg">Codigo Promocional</label>
            <div class="input-group input-group-lg">
              <input type="text" id="promo-code" class="form-control" placeholder="Ingrese Codigo Promocional">
              <button type="button" class="btn btn-primary px-4">&nbsp;&nbsp;Aplicar&nbsp;&nbsp;</button>
            </div>
          </div>
          <div class="bg-secondary rounded mb-4">
            <div class="border-bottom p-4">
              <h2 class="h4 mb-0">Orden Total</h2>
            </div>
            <ul class="list-unstyled border-bottom mb-0 p-4">
              <li class="d-flex justify-content-between mb-2">
                <span class="fw-bold">Subtotal:</span>
                <span class="fw-bold">{{subtotal |currency:'COP':'$':'3.0'}}</span>
              </li>
              <li class="d-flex justify-content-between mb-2">
                <span>Envio:</span>
                <span>$25.00</span>
              </li>
              <li class="d-flex justify-content-between mb-2">
                <span>Descuento:</span>
                <span>&mdash;</span>
              </li>
         
            </ul>
            <div class="d-flex justify-content-between p-4">
              <span class="h5 mb-0">Orden Total:</span>
              <span class="h5 mb-0">{{total_pagar |currency:'COP':'$':'3.0'}}</span>
            </div>
          </div>
          <button type="button" class="btn btn-primary btn-lg w-100">Completar orden</button>
        </div>
      </aside>
    </div>
  </section>

  <app-footer></app-footer>
