<app-sidebar></app-sidebar>

<!-- Page title-->
<div class="border-bottom pt-5 mt-2 mb-5">
  <h1 class="mt-2 mt-md-4 mb-3 pt-5">Variedad De producto</h1>
  <div class="d-flex flex-wrap flex-md-nowrap justify-content-between">
    <p class="text-muted">Este módulo se establece Variedades de productos</p>

  </div>
</div>

<div class="card box-shadow-sm">
  <div class="card-header">
    <h5 style="margin-bottom: 0px;">Variedades de producto</h5>
  </div>

  <div class="card-body">
    <!-- max-width: 48rem; -->
    <div style="max-width: auto">

      <div class="row mb-3">
        <div class="col-md-4" tyle="padding-rigth: 0px;">
          <img [src]="producto.portada" class="img-thumbnail rounded-0" alt="Square image">
        </div>
        <div class="col-md-8" style="padding-left: 0px;">
          <div class="card" style="height: 100% !important; background: #f5eeee;">
            <div class="card-body">
              <h3 class="card-product-title text-truncate mb-2">
                <a class="nav-link mb-3">{{producto.titulo}}</a>
                <p [innerHTML]="producto.descripcion" class="text-wrap" style="text-align: justify;"></p>
                <div class="d-flex align-items-center">
                  <span class="h5 d-inline-block mb-0 text-dark">{{producto.precio |currency:'COP':'$':'3.0'}}</span>

                </div>
              </h3>
            </div>
          </div>
        </div>

      </div>

      <div class="form-group row align-items-center">

        <div class="col-md-12">
          <div class="table-responsive mt-3">
            <table class="table table-bordered border-primary table-sm" *ngIf="producto.variedades">
              <thead class="thead-dark text-center">
                <tr>

                  <th>Variedad</th>
                  <th>Detalles</th>
                </tr>
              </thead>

              <ng-container *ngIf="producto.variedades.length==0">
                <tbody>
                  <tr>
                    <td colspan="2" class="text-center">
                      <span class="text-muted">Sin variedades disponibles</span>
                    </td>

                  </tr>
                </tbody>
              </ng-container>

              <ng-container *ngIf="producto.variedades.length>=1">
                <tbody *ngFor="let item of producto.variedades ; let indice=index">
                  <tr>
                    <td> <input [(ngModel)]="item.titulo" />
                      <div class="row">
                        <div class="col-12">
                          <ng-container *ngIf="variedad_en_edicion==indice">
                            <button type="button" class="btn btn-outline-success btn-icon mr-1 btn-sm mt-3"
                              style="cursor: pointer;" (click)="guardarVariedad(indice)">
                              Guardar Variedad
                            </button>
                          </ng-container>
                        </div>

                        <div class="col-12">
                          <button type="button" class="btn btn-outline-danger btn-icon mr-1 btn-sm mt-3"
                            style="cursor: pointer;" (click)="deleteVariety(indice)">
                            Eliminar Variedad
                          </button>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-3" *ngFor="let img of item.galeria ; let indice=index">
                          <img  [src]="img.imagen" class="img-thumbnail w-100" alt="Imagen no encontrada">
                        </div>
                      </div>



                    </td>

                    <td>
                      <table class="table">
                        <thead class="text-center">
                          <tr>

                            <th>Medida</th>
                            <th>Caracteristica</th>
                            <th>Disponibilidad</th>
                            <th>Precio</th>

                          </tr>
                        </thead>

                        <tbody>

                          <ng-container *ngFor="let tallas of item.tamano_disponibilidad ; let indice2=index">
                            <tr *ngIf="editar_variedad_carcateristica != (indice.toString() +'_'+ indice2.toString())">
                              <td>{{tallas.unidad_medida}}</td>
                              <td>{{tallas.tamano}}</td>
                              <td>{{tallas.disponibilidad}}</td>
                              <td>{{tallas.precio}}</td>
                              <td>
                                <span (click)="deleteCharacteristic(item, indice2)">
                                  <i class="fa-regular fa-trash-can " style="color: red; cursor: pointer;"></i>
                                </span>
                                <span (click)="editarCaracteristica(indice, indice2)">
                                  <i class="fa-regular fa-pen-to-square" style="color: #24d14a; cursor: pointer;"></i>
                                </span>
                              </td>
                            </tr>

                            <tr *ngIf="editar_variedad_carcateristica==(indice.toString() +'_'+ indice2.toString())">
                              <td>
                                <select id="idd" name="idd" required [(ngModel)]="tallas.unidad_medida"
                                  #unidad="ngModel">
                                  <option *ngFor="let unit of unidadesMedida" [value]="unit.titulo">{{ unit.titulo }}
                                  </option>
                                </select>
                              </td>
                              <td><input [(ngModel)]="tallas.tamano" /></td>
                              <td><input type="number" [(ngModel)]="tallas.disponibilidad" /></td>
                              <td><input type="number" [(ngModel)]="tallas.precio" /></td>

                              <td>
                                <span (click)="deleteCharacteristic(item, indice2)">
                                  <i class="fa-regular fa-trash-can " style="color: red; cursor: pointer;"></i>
                                </span>
                                <span (click)="editarCaracteristica(indice, indice2)">
                                  <i class="fa-regular fa-pen-to-square" style="color: #24d14a; cursor: pointer;"></i>
                                </span>
                              </td>
                            </tr>
                          </ng-container>



                        </tbody>
                      </table>
                      <button type="button" class="btn btn-outline-success btn-icon mr-1 btn-sm"
                        style="cursor: pointer;" (click)="addCharacteristic(item,indice)">
                        Añadir Caracteristica
                      </button>
                      <button type="button" class="btn btn-outline-primary btn-icon mr-1 btn-sm"
                        style="cursor: pointer;" data-toggle="modal" [attr.data-target]="'#delete-'+indice">
                        Galeria
                      </button>

                      <!-- Inicia Modal -->



                      <!-- Inicia Modal -->
                      <div class="modal fade" id="delete-{{indice}}" tabindex="-1" role="dialog" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document" style="min-width: 70%;">
                          <div class="modal-content">
                            <div class="modal-card card" data-list="{&quot;valueNames&quot;: [&quot;name&quot;]}">
                              <div class="card-body">
                                <h4 class="card-header-title" id="exampleModalCenterTitle" (click)="prueba()">
                                  Galería
                                </h4>
                                <h5>{{producto.titulo}}</h5>
                                <h6>Variedad de Producto: {{producto.variedades[indice].titulo}}</h6>
                                <h6>Variedad de Producto: {{producto.variedades[indice]._id}}</h6>

                                <!-- Nueva Imagen -->
                                <ng-container>
                                  <div class="mb-3">
                                    <label class="col-form-label font-weight-medium" for="text-input">Nueva
                                      Imagen</label>
                                    <div class="input-group">
                                      <input class="form-control" id="input_img" (change)="fileChangeEvent($event)"
                                        type="file">
                                      <div class="input-group-append">
                                        <ng-container *ngIf="file != undefined">
                                          <button class="btn btn-primary" type="button"
                                            (click)="subir_imagen(producto.variedades[indice]._id)">Subir</button>
                                          <button *ngIf="load_btn" type="button" class="btn btn-primary">
                                            <span class="spinner-grow spinner-grow-sm me-2" role="status"
                                              aria-hidden="true"></span>
                                            Subiendo...
                                          </button>
                                        </ng-container>
                                        <ng-container *ngIf="file == undefined">
                                          <button class="btn btn-primary" type="button" disabled>Subir</button>
                                        </ng-container>
                                      </div>
                                    </div>
                                  </div>
                                  <!-- Previsualización de Imagen -->
                                  <div class="mb-3 text-center" style="max-width: 20%;">
                                    <img [src]="imgSelect" class="img-thumbnail" alt="Previsualización de imagen"
                                      *ngIf="imgSelect">
                                  </div>
                                </ng-container>

                                <!-- Galería de Imágenes -->

                                <div class="row">
                                  <div class="col-3 position-relative"
                                    *ngFor="let imagen of producto.variedades[indice].galeria">
                                    <button class="btn btn-danger btn-sm position-absolute top-0 end-0"
                                      (click)="eliminarImagen(imagen._id,producto.variedades[indice]._id)">
                                      &times;
                                    </button>
                                    <img [src]="imagen.imagen" class="img-thumbnail w-100" alt="Imagen no encontrada">
                                  </div>
                                </div>

                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Finaliza Modal -->

                    </td>

                  </tr>

                </tbody>
              </ng-container>



            </table>

          </div>
        </div>

        <div class="col-md-2 mt-2">
          <button type="button" class="btn btn-outline-success btn-icon mr-1 btn-sm" style="cursor: pointer;"
            (click)="addVariety()">
            Añadir Variedad
          </button>
        </div>

      </div>
    </div>

  </div>
  <div class="card-footer">
    <button *ngIf="!load_btn" class="btn btn-primary mr-3" type="button" (click)="actualizar()">Guardar cambios</button>
    <!-- Button with growing spinner and text -->
    <button *ngIf="load_btn" type="button" class="btn btn-secondary">
      <span class="spinner-grow spinner-grow-sm me-2" role="status" aria-hidden="true"></span>
      Guardando...
    </button>
  </div>
</div>