input{
    font-size: small;
    border: 0px;
    border-radius: 10px;
}

table{
 
}

/*Boton de eliminado de Imagenes*/
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
  top: 5px;
  right: 5px;
  z-index: 10;
}

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

.w-100 {
  width: 100%;
}

/* finaliza boton elimiando de imagenes*/

/*Carcateristicas de resaltado de campos*/
/* Estilo para resaltar los campos en edición */
.highlight {
  border: 2px solid #24d14a; /* Borde verde para destacar el campo */
  background-color: #f0f8f0; /* Fondo ligeramente verde para el campo */
}

/* Opcional: Estilo para el `tr` en modo edición */
.edit-mode {
  background-color: #eaffea; /* Fondo verde claro para la fila en edición */
}

.titulo_variedad{
  font-size: small;
}



.invalid-field input {
  border-color: #f44336; 
}
